<%= render 'books/list', book: @book, books: @books, user: @user %>

<div class="container">
  <div class="row no-gutters">
    <div class="col-md-7 col-sm-10 mx-2 mx-sm-auto">
      <h1>Books</h1>

      <% @books.each do |book| %>
       <div class="col-lg">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="col"><%= image_tag book.user.get_profile_image(100,100) %></th>
                <th scope="col"><%= link_to book.title, book_path(book.id) %></th>
                <th scope="col"><%= book.body %></th>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>