<%= render 'list', book: @book, books: @books, user: @user %>

<h1>Books</h1>

<% @books.each do |book| %>
  <div class="container">
    <div class="col-lg-8">
      <table class="table table-striped">
        <thead>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </thead>
        <tbody>
          <td>
            <%= image_tag book.user.get_profile_image(100,100) %>
          </td>
          <td>
            <%= link_to book.title, book_path(book.id) %>
          </td>
          <td>
            <%= book.body %>
          </td>
        </tbody>
      </table>
    </div>
  </div>
<% end %>