<div class="container">
  <div class="row no-gutters">
    <div class="col-md-7 col-sm-10 mx-2 mx-sm-auto">
      <h1>Welcome to <strong><i class="fa-solid fa-book mt-3"></i>Bookers!!</strong></h1>

      <p>In <strong><i class="fa-solid fa-book"></i>Bookers</strong>,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>


      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-block btn-info mt-2" %>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-block btn-success mt-2" %>

    </div>
  </div>
</div>